/*

b5fed9
98cbb4
7ba098
57594b
323335
 */

* {
    background-color: transparent;
    background-image: linear-gradient(#b5fed9);
    background-image: linear-gradient(#98cbb4);
    background-image: linear-gradient(#7ba098);
    background-image: linear-gradient(#57594b);
    background-image: linear-gradient(#414950);
    background-image: linear-gradient(#323335);
/ / border: 1 px red solid;
    font-family: "Calibri Light", Calibri, sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    line-height: 3rem;
    word-wrap: normal;
    overflow-wrap: normal;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.3rem;
}

h5 {
    font-size: 1.1rem;
}

h6 {
    font-size: 0.9rem;
}

#styleswitcher {
    padding: 0.25em;
}

#container {
    background-color: #323335;
    display: grid;
    font-size: 1.1em;
    grid-template-columns: [col] 20% [col] 55% [col] 25%;
    grid-template-areas: "lmenu content rment";
}

#left {
    background-color: #414950;
    color: #929eab;
    grid-area: lmenu;
    grid-column: 1/2;
    grid-row: 1/3;
}

#content {
    background-color: white;
    padding: 1em;
    text-align: center;
    grid-area: content;
    grid-column: 2/3;
    grid-row: 1/2;
}

#right {
    background-color: #414950;
    color: #929eab;
    grid-area: rmenu;
    grid-column: 3/4;
    grid-row: 1/3;
}

#god-wrapper {
    padding: 1em;
}

#god-card {
    background-color: #98cbb4;
    border-radius: 1em 1em;
    color: black;
    height: 100%;
    margin: 0 25% 0;
    min-height: 100%;
    text-align: center;
    transition: 0.2s;
    width: 50%;
}

#god-card:hover {
    background-color: #b5fed9;
}

#shop {
    list-style: none;
    margin: 0.25em;
}

.header {
    background-color: #b5fed9;
    color: #7ba098;
    font-family: Calibri, sans-serif;
    font-weight: bold;
    padding: 0.5em;
    text-align: center;
}

.clickable:hover {
    cursor: pointer;
}

.shop-cost {
    margin: 0 1em 0 0;
    text-align: right;
}

.shop-cost::after {
    content: ' \2141';
}

.shop-count {
    font-weight: bold;
}

.shop-item {
    background-color: rgba(50, 51, 53, 0.25);
    margin: 0.25em;
    padding: 1em;
    transition: 0.3s;
}

.shop-item:hover {
    background-color: rgba(50, 51, 53, 1);
    border-left: #b5fed9 1em solid;
    padding: 1em 0 1em 2em;
/ / text-shadow: 2 px 2 px 1 px white;
}

.shop-item:hover .shop-label {
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.75);
}

.shop-item:hover .shop-cost {
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.9);
}